{% include 'components/modal.html.twig' %}

{% set current_path = app.request.get('_route') %}

<div class="sidebar">
	<div class="sidebar-wrapper">
		<div class="sidebar-section pt-3 pb-3">
			<a href="{{ path('home') }}" class="sidebar-item active">
				<i class="fa fa-heart"></i>
				Trello
			</a>
		</div>
		<div class="sidebar-section">
			<div class="section-title">
				Projects
				<i data-bs-toggle="modal" data-bs-target="#newProjectModal" id="newProjectModal" class="fa fa-plus"></i>
			</div>
			{{ render(path('api_projects')) }}
		</div>
		<div class="sidebar-section">
			<a href="/logout" class="sidebar-item">
				<i class="fa fa-arrow-right-from-bracket"></i>
				Logout
			</a>
		</div>
	</div>
</div>
